body{
background-color: rgb(255, 240, 221) ;
}

.head{
    max-width:500px;
    margin-inline: auto;
}

img{
   display:block;
   max-width: 40%;
   margin-left: auto;
   margin-right: auto;
}
h1{
    font-size: 30px;
    color: darkblue;
    text-align: center;
}
p{
    font-size: 1.5em;
    color: blue;
    text-align:center;
}

/* dropdown */
.labels {
    display: flex;
    justify-content: space-between;
    width: 250px; /* Adjust width as needed */
    margin-top: 40px;
    margin-bottom: 10px; /* Space between labels and dropdowns */
    margin-left: auto;
    margin-right: auto;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    width: 300px; /* Match the width of the label row */
    margin-left: auto;
    margin-right: auto;
}

.dropdowns select {
    width: 80px; /* Adjust the width of each dropdown */
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(191, 191, 191); /* Background color for dropdown */
    color: black; /* Default text color */
    /* border: 1px solid red;  */
    border:none;
    border-radius: 5px; /* Slightly rounded corners */
}

/* Change background color when hovering over dropdown */
.dropdowns select:hover {
    background-color: #ffa856; /* Light gray background on hover */
    /* border-color: blue; */
}
.dropdowns select option:checked {
    background-color: yellow; /* Change background of selected option */
    color: black; /* Text color of selected option */
}
.dropdowns select option {
    background-color: white; /* Option background */
    color: blue; /* Option text color */
}

/* result */
.result {
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.select-time {
    color: rgb(255, 4, 4);
}


.button-container {
    text-align: center; /* Centers the button horizontally */
    margin-top: 20px;
}

button{
    border: none;
    background-color: rgb(0, 0, 0);
    color:yellow;
    padding: 10px 20px;
}
