html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Disable page scroll */
}
.head{
    max-width:500px;
   
}

img{
    display:block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
 }

 .video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

 body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


  .camera-feed {
  
    width: 100%; /* Fit to container width */
    height: 100%; /* Take up all available height */
    max-width: 800px; /* Optional: Restrict maximum width */
    max-height: 450px; /* Optional: Restrict maximum height */
    border: 0; /* No border */
    overflow: hidden; /* No scroll bars */
    display: block;
    }



h1{
    text-align: center;
}

